# Entornos virtuales
venv/
env/
.env
.venv/

# Archivos de caché y compilados
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Bases de datos
prisma/dev.db
prisma/dev.db-journal
*.sqlite3
*.db

# Modelos pesados de Machine Learning (Trackeados usando Git LFS)
# models/*.pkl
# models/*.h
# models/*.keras
# models/*.h5

# Datasets pesados
datasets/*.csv
datasets/*.xlsx
datasets/*.json

# Reportes generados localmente
*.pdf
*.docx
*.xlsx
model_results_*.json

# Logs y SO
*.log
.DS_Store
Thumbs.db

# Credenciales y Secretos (Agregado a GitHub por petición del usuario)
# .streamlit/secrets.toml
